.custom_gutter {
  margin-right: 1% !important;
  margin-left: 1% !important;
  margin-top: 1% !important;

  > .col,
  > [class*="col-"] {
    padding-right: 2%;
    padding-left: 2%;
  }
}

.home_body {
  background-image: url( "img/library1.jpg" );
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead {
  padding-top: 12%;
  height: 94vh;
  
}

#top_nav {
    height: 6vh;
    background-color: rgba( 204, 0, 0, 0.7 ) !important;
    border-color: transparent !important;
}

#top_nav .navbar-nav > li.nav-item > a.nav-link,
#top_nav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#top_nav .navbar-nav > li.nav-item > a.nav-link:hover,
#top_nav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #fff;
}

#top_nav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

#start_btn {
  font-weight: 700;
  background-color: #CC0000 !important;
  border-color: #fff;
  border: none;
  border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

.header_sort {
	font-weight: bold !important;
	color: #fff !important;
}

hr {
  max-width: 5%;
  border-width: 3px;
  border-color: #fff !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb( 0,0,0 );
    background-color: rgba( 0,0,0,0.4 );
}

.modal-content {
    opacity: 1.0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}